{% include "header.html" %}
<h1>Page under construction. Please login with facebook or google account at this time.</h1>


<!--<form action="{{ url_for('newAccount')}}" method='POST'>
What would you like to call your shop?</br>
<input type='text' name='piece_name'></br>
How many of this item will you be offering for rental?</br>
<input type='text' name='quantity' ></br>
Give us a brief description:</br>
<textarea col='300' rows='5' name='description'></textarea></br>
To which department(s) does this piece belong?</br>
<input type='checkbox' name='department' value='Art'>Art</br>
<input type='checkbox' name='department' value='Props'>Prop</br>
<input type='checkbox' name='department' value='Seating'>Seating</br>
<input type='checkbox' name='department' value='Storage'>Storage</br>
<input type='checkbox' name='department' value='Tables'>Table</br>
<input type='checkbox' name='department' value='Textiles'>Textile</br>
<input type='submit' value='Add this piece!'>
</form>

</body>
</html>-->